.app-bar {
  display: flex;
  width: 100%;
  color: #FFF;
  height: 48px;
  padding: 0 24px;
  background: #0044BF;
  transition: width 200ms ease-in-out;
  box-sizing: border-box;
}

.app-bar_collapsed {
  width: calc(100% - 400px);
}

.app-bar .tabs {
  width: 100%;
}

.app-bar .tabs-indicator {
  background: #3B78E7;
  height: 100%;
}

.app-bar .tab {
  text-transform: none;
  z-index: 1;
}

.app-bar .title {
  margin-right: 1em;
}

.app-bar .icon-button {
  opacity: .85;
  transition: opacity .15s;
}

.app-bar .icon-button:hover {
  opacity: 1;
}

@media (min-width: 960px) {
  .app-bar .tab-label {
    font-size: 1rem;
  }
}
