.chart {
  width: 100%;
}

.chart .flex-chart {
  width: 100%;
  padding: 0;
  margin: 0;
  background: transparent;
  border: transparent;
  box-sizing: padding-box;
}

.chart .flex-chart .wj-axis-y {
  opacity: .25;
}

.chart .data-range {
  max-height: 40px;
  width: 100%;
  padding: 0;
  margin: 0;
  border: transparent;
  background: transparent;
  box-sizing: padding-box;
}
