.detail-panel {
  padding: .5rem 0;
  background: #FBFBFB;
}

.detail-panel .column {
  box-sizing: padding-box;
  padding: 1rem 3rem;
}

.detail-panel .headline {
  display: flex;
  align-items: center;
  color: #CB2C77;
  margin-left: -1rem;
}

.detail-panel .headline_increased {
  color: #73CA21;
}
