.DetailPanel {
  padding: .5rem 0;
  background: #FBFBFB;
}

.DetailPanel-col {
  box-sizing: padding-box;
  padding: 1rem 3rem;
}

.DetailPanel .Headline {
  display: flex;
  align-items: center;
  color: #73CA21;
  margin-left: -1rem;
}


