.Grid {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  position: relative;
}

.Grid .FlexGrid {
  border-radius: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: none;
  display: flex;
  overflow: auto;
}

.Grid .Helper {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  background: white;
  box-sizing: border-box;
  z-index: 1;
}

.Grid .Helper-icon {
  opacity: .7;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 50%;
  background: #eee;
  margin-bottom: 1rem;
}

.Grid *::-webkit-scrollbar-track {
  background-color: transparent;
  position: absolute;
}

.Grid *::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

.Grid *::-webkit-scrollbar-thumb {
  background-color: #CCC;
  border: 2px solid transparent;
}


.Grid .ticker div {
  display: inline-block;
}

.Grid .ticker .chg {
  text-align: center;
  width: 4em;
}

.Grid .ticker .glyph {
  font-size: 120%;
  text-align: center;
  width: 1em;
}

.Grid .ticker .spark {
  margin-left: 1rem;
  width: 4em;
  height: 1em;
  opacity: .65;
}

.Grid .ticker.chg-up {
  color: green;
}

.Grid .ticker.chg-down {
  color: red;
}

.Grid .ticker .spark svg {
  width: 100%;
  height: 100%;
  stroke: currentColor;
  stroke-width: 1px;
  overflow: visible;
}


.Grid .indicator.sell {
  color: red;
}

.Grid .indicator.buy {
  color: green;
}


.Grid .wj-flexchart {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
}

.Grid .FlexGrid .wj-header.wj-cell {
  color: inherit;
  background: #FFF;
  border: transparent;
  border-bottom: 1px solid #E6E6E6;
  font-weight: 500;
  padding: .5rem;
}

.Grid .FlexGrid .wj-cell {
  background-color: #fff;
  border: transparent;
  border-bottom: 1px solid #E6E6E6;
  padding: .5rem;
}

.Grid .FlexGrid .wj-rowheaders .wj-cell.wj-header {
  padding: 1rem .5rem;
  background: #fbfbfb;
}

.Grid .FlexGrid .wj-cell.wj-frozen-row {
  border-bottom: 1px solid #D6D6D6;
}

.Grid .FlexGrid .wj-cell.wj-frozen-col {
  border-right: 1px solid #D6D6D6;
}

.Grid .FlexGrid .wj-header.wj-cell.wj-frozen-col {
  border-right-color: transparent;
}

.Grid .FlexGrid .wj-cell > div {
  position: relative;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}

.Grid .FlexGrid .wj-alt:not(.wj-state-selected):not(.wj-state-multi-selected) {
  background-color: #fff;
}

.Grid .FlexGrid .wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  background: #fff;
}

.Grid .FlexGrid .wj-state-selected {
  background: #F5F5F5;
  color: #000;
}

.Grid .FlexGrid .wj-state-multi-selected {
  background: #F5F5F5;
  color: #000;
}
