.Column {
  display: flex;
  flex: 1 1 0;
  min-width: 0;
  width: auto;
}

.Column--shrink {
  flex: 0 0 auto;
  max-width: 100%;
}

.Column--left { justify-content: flex-start; }
.Column--right { justify-content: flex-end; }
.Column--center { justify-content: center; }
.Column--justify { justify-content: space-between; }
.Column--spaced { justify-content: space-around; }
.Column--top { align-items: flex-start; }
.Column--middle { align-items: center; }
.Column--bottom { align-items: flex-end; }
.Column--stretch { align-items: stretch; }

.Column--dir-row { flex-direction: row; }
.Column--dir-row-reverse { flex-direction: row-reverse; }
.Column--dir-column { flex-direction: column; }
.Column--dir-column-reverse { flex-direction: column-reverse; }
.Column--dir-inherit { flex-direction: inherit; }
.Column--dir-initial { flex-direction: initial; }
.Column--dir-unset { flex-direction: unset; }
